# other
roullp打包

# 日志文件
*.log
*-debug.log*
*-error.log*

# 依赖
node_modules
.yarn
*-lock.*

# 打包文件
dist
dist-ssr

#本地配置
*.local

# 编辑器文件
.idea
.vscode/*
!.vscode/extensions.json
*/.idea
*/.vscode/*
!*/.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
